<div class="box-content">
  <div class="pull-right padded">
    <%= link_to "Add more outlets", more_outlets_merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,@ad_group), :class=>"btn btn-info"%>
  </div>
  <div id="dataTables">
    <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
      <thead>
        <tr>
          <th>Outlet Key</th>
          <th>City</th>
          <th>Area</th>
          <th>Pincode</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Mobile Number</th>
          <th>Status</th>
          <th>Verified</th>
          <th>Manage</th>
          </tr>
      </thead>
      <tbody>
      <% @outlets.each do |outlet| %>
        <tr>
          <td><%= outlet.outlet_key %></td>
          <td><%= !outlet.area.city.city_name.nil? ? outlet.area.city.city_name : " " %></td>
          <td><%= !outlet.area.area_name.nil? ? outlet.area.area_name : " "%></td>
          <td><%= !outlet.area.pincode.nil? ? outlet.area.pincode : " " %></td>
          <td><%= outlet.address %></td>
          <td><%= outlet.cleanup_landline %></td>
          <td><%= outlet.mobile_number %></td>
          <td>
            <%= form_tag(toggle_active_for_set_merchant_account_account_brand_outlet_path(@current_account,@account_brand,:ad_id=>@ad.id,:ad_group_id=>@ad_group.id,:id=>outlet.id),:style=>"display:inline") do %>
                    <%= check_box_tag :is_active, outlet.is_active?,outlet.is_active?,:disabled=>true%>
                    <button type="submit" class=" btn-link">
                      <%= display_label_for_activate(outlet.is_active?) %>
                    </button>
                  <%end %>
          </td>
          <td>
            <%= form_tag(toggle_verify_merchant_account_account_brand_outlet_path(@current_account,@account_brand,:ad_id=>@ad.id,:ad_group_id=>@ad_group.id,:id=>outlet.id),:style=>"display:inline") do %>
              <%= check_box_tag :is_verified,outlet.is_verified,outlet.is_verified,:checked=>outlet.is_verified,:disabled=>true %>
              <button type="submit" class=" btn-link">
                <%= display_label_for_verify(outlet.is_verified?) %>
              </button>
            <%end %>
          </td>          
          <td><%=link_to "Delete",delete_outlet_merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,@ad_group,:outlet_id=>outlet.id),:confirm=>"Are you sure?" %></td>
        </tr> 
      <% end %>
      </tbody>  
    </table>
</div>
  