 <div id="dataTables">
  <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Promocode</th>
        <th width="14%">Status</th>
        <th width="14%">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% ad_groups.each do |ad_group| %>
      <tr>
        <td>
          <%=link_to ad_group.name ,merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,ad_group)%>
        </td>
        <td>
          <%= ad_group.ad_promocodes.size %>
        </td>
        <td>
          <%= form_tag(toggle_active_merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,ad_group),:style=>"display:inline") do %>
            <% if ad_group.is_active %>
              <%= check_box_tag :is_active, true,true,:disabled=>true%>
            <% else %>
              <%= check_box_tag :is_active,false,false, :disabled=>true%>
            <% end %>
          
            <button type="submit" class=" btn-link">
              <%= display_label_for_activate(ad_group.is_active?) %>
            </button>
          <%end %>     
            <%#= link_to "Add More Outlet" %>  
          <%#= link_to "Add More Promocode" %>
        </td>
        <td>
          <%= link_to 'Delete', merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,ad_group), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr> 
      <% end %>
    </tbody>  
  </table>
</div>