 <div id="dataTables">
  <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
    <thead>
      <tr>
        <th>Ad</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>SMS Text</th>
        <th>Exclusive</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% ads.each do |ad| %>
      <tr>
        <td>
          <%= link_to ad.ad_title,merchant_account_account_brand_ad_path(@current_account,@account_brand,ad)  %>
          <% if ad.expired? %>
            <span class="label label-important"> Expired </span> 
          <% end %>
        </td>
        <td>
          <%= ad.start_date.to_date.to_s(:db) %>
        </td>
        <td>
          <%= ad.expiry_date.to_date.to_s(:db) %>
        </td>
        <td>
          <%= ad.sms_text %>
        </td>
        <td>
          <%= form_tag(toggle_exclusive_merchant_account_account_brand_ad_path(@current_account,@account_brand,ad),:style=>"display:inline") do %>
            <% if ad.is_exclusive %>
              <%= check_box_tag :is_exclusive, true,true,:disabled=>true%>
            <% else %>
              <%= check_box_tag :is_exclusive,false,false, :disabled=>true%>
            <% end %>

            <button type="submit" class=" btn-link">
              <%= display_label_for_exclusive(ad.is_exclusive?) %>
            </button>
          <%end %>
        </td>
        <td>
          <%= form_tag(toggle_active_merchant_account_account_brand_ad_path(@current_account,@account_brand,ad),:style=>"display:inline") do %>
            <% if ad.is_active %>
              <%= check_box_tag :is_active, true,true,:disabled=>true%>
            <% else %>
              <%= check_box_tag :is_active,false,false, :disabled=>true%>
            <% end %>
          
            <button type="submit" class=" btn-link">
              <%= display_label_for_activate(ad.is_active?) %>
            </button>
          <%end %>
        </td>
        <td> 
          <%= link_to "Edit",merchant_account_account_brand_ad_path(@current_account,@account_brand,ad) %> |
          <%= link_to 'Delete', merchant_account_account_brand_ad_path(@current_account,@account_brand,ad), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr> 
      <% end %>
    </tbody>  
  </table>
</div>