 <div id="dataTables">
  <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
    <thead>
      <tr>
        <th><div>Ad</div></th>
        <th><div>Start Date</div></th>
        <th><div>Expiry Date</div></th>
        <th><div>SMS Text</div></th>
        <th><div>Exclusive</div></th>
        <th><div>Status</div></th>
        <th><div>Logo</div></th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <% ads.each do |ad| %>
      <tr>
        <td>
          <%= link_to ad.ad_title,merchant_account_account_brand_ad_path(@current_account,@account_brand,ad)  %>
          <% if ad.expired? %>
            <span class="label label-important"> Expired </span> 
          <% end %>
        </td>
        <td>
          <%= ad.start_date.to_date.to_s(:db) if ad.start_date%>
        </td>
        <td>
          <%= ad.expiry_date.to_date.to_s(:db) if ad.expiry_date %>
        </td>
        <td>
          <%= ad.sms_text %>
        </td>
        <td>
          <%= form_tag(toggle_exclusive_merchant_account_account_brand_ad_path(@current_account,@account_brand,ad),:style=>"display:inline") do %>
            <%= check_box_tag :is_exclusive, ad.is_exclusive?,ad.is_exclusive?,:disabled=>true%>
            <% if can? :update, ad %>
              <button type="submit" class=" btn-link">
                <%= display_label_for_exclusive(ad.is_exclusive?) %>
              </button>
            <%end%>
          <%end %>
        </td>
        <td>
          <%= form_tag(toggle_active_merchant_account_account_brand_ad_path(@current_account,@account_brand,ad),:style=>"display:inline") do %>
            <%= check_box_tag :is_active, ad.is_active?,ad.is_active?,:disabled=>true%>
            <% if can? :update, ad %>
              <button type="submit" class=" btn-link">
                <%= display_label_for_activate(ad.is_active?) %>
              </button>
            <%end%>
          <%end %>
        </td>
        <td>
          <% if ad.attachments.present? %>
              <%= image_tag ad.attachments.order(:id).last.image %>
          <% end %>
        </td>
        <td> 
          <% if can? :update, ad %>
            <%= link_to "Edit",merchant_account_account_brand_ad_path(@current_account,@account_brand,ad) %> |
          <%end%>
          <% if can? :destroy, ad %>
            <%= link_to 'Delete', merchant_account_account_brand_ad_path(@current_account,@account_brand,ad), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </td>
      </tr> 
      <% end %>
    </tbody>  
  </table>
</div>