<%= render :partial=>'header',:locals=>{:ad=>@ad} %>
<div class="box">
	<div class="box-header">
		<ul class="nav nav-tabs nav-tabs-left">
			<li class="active"><a href="#ad" data-toggle="tab">Ad</a></li>
			<li><a href="#keywords" data-toggle="tab"><span>Keywords</span></a></li>
			<li><a href="#promocodes" data-toggle="tab"><span>Promocode</span></a></li>
		</ul>
		<div class="title">Left tabs</div>
	</div>
	<div class="box-content">
    <div class="tab-content">
      <div class="tab-pane active" id="ad">
        <%= form_for([@current_account,@account_brand,@ad], :url=>merchant_account_account_brand_ads_path(@current_account,@account_brand,@ad), :html=>{:class=>"form-horizontal fill-up validatable",:multipart => true}) do |f| %>
	      	<div class="padded">
	          <%= render :partial=>"ad_field",:locals=>{:f=>f} %>
	        </div>  
		      <div class="form-actions">
		        <button type="submit" class="btn btn-blue">Save</button>
		      </div>
      	  <% end %>
      </div>
      <div class="tab-pane" id="keywords">
      	<%= render :partial=>"ad_keyword" %>
      </div>
      <div class="tab-pane" id="promocodes">
      	<%= render :partial=>"ad_promocode" %>
      </div>
    </div>

  </div>
</div>
	