<div class="blog-main">
  <header class="wrap" id="blogs-masthead">
    <div class="element1">
      <div id="logo"><%= link_to image_tag("logo.png", :border=> "0", :alt=>"Drive Footfall to your stores", :title=>"Drive Footfall to your stores"), "/home.html" %></div>
    </div>
    <div class="clear"></div>
  </header>
    <div class="navbar navbar-default">
      <div class="navbar-inner">
            <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Menu</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><%= link_to "Home", "/home.html" %></li>
                <li><%= link_to "All Posts", "/articles" %></li>
                <li><%= link_to "Retailer's Corner", "#" %></li>
                <li><%= link_to "Customer Insight", "#", :title => "Coming Soon" %></li>
                <li><%= link_to "Product Update", "#", :title => "Coming Soon" %></li>
              </ul>
              <div id="mc_embed_signup">
              <form action="http://gullakmaster.us3.list-manage.com/subscribe/post?u=c917f58b606fb04950bac9123&amp;id=7520d888c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form navbar-left" target="_blank" role="search" novalidate>
                <div class="form-group">
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_c917f58b606fb04950bac9123_7520d888c7" value=""></div>
                  <input type="text" class="form-control" placeholder="Subscribe">
                </div>
                <!--<input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="btn-subs">-->
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn-subs">Go</button>
              </form>
              </div>
            </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
    <div class="non-bs-bar">
      <ul class="nav">
        <li><%= link_to "Home", "/home.html" %></li>
        <li><%= link_to "All Posts", "/articles" %></li>
        <li><%= link_to "Retailer's Corner", "#" %></li>
        <li><%= link_to "Customer Insight", "#", :title => "Coming Soon" %></li>
        <li><%= link_to "Product Update", "#", :title => "Coming Soon" %></li>
      </ul>
      <div id="mc_embed_signup">
        <form action="http://gullakmaster.us3.list-manage.com/subscribe/post?u=c917f58b606fb04950bac9123&amp;id=7520d888c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form navbar-left" target="_blank" role="search" novalidate>
          <div class="form-group">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_c917f58b606fb04950bac9123_7520d888c7" value=""></div>
            <input type="text" class="form-control" placeholder="Subscribe">
          </div>
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn-subs">Go</button>
          <!--<input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">-->
        </form>
      </div>
    </div>
  <div id="aCol">
    <% @articles.each do |article| %>
    <div class="aColumn2">
      <div id="content" class="hfeed">
        <section class="posts">
          <div class="content">
            <article id="post-154732" class="post entry no-top">
              <div class="w190 left">
                <% if article.attachments.present? %>
                    <%= link_to image_tag(article.attachments.order(:id).first.image, :alt=> article.image_alt_text, :title=> article.image_alt_text), article_path(article.blog_url) %>
                <% end %>
                <span class="caption"><%= article.summary_image_caption %></span>
              </div>
              <header class="postHeader">
                <div class="postMetaHeader">
                  <span class="kicker"><%= article.blog_category %></span>
                  <!-- date published -->
                  <time><%= article.created_at.strftime("%e %b %Y") %></time>
                  <span class="ccount"><i class="icon"></i><%= link_to article.article_comments.count, article_path(article.blog_url) %></span>
                </div>
                <h3 class="entry-title">
                  <%= link_to article.blog_title, article_path(article.blog_url) %>
                </h3>
                <address class="byline author vcard">By <a title="" class="url fn"><%= link_to article.author, article.author_linkedin_url, :target => '_blank' %></a> </address>
              </header>
              <div class="entry-content2">
                <p><%= article.blog_excerpt %> <a class="more-link"><%= link_to 'Read more…', article_path(article.blog_url) %></a></p>
              </div>
            </article>
          </div>
        </section>
      </div>
    </div>
    <% end %>
  </div>
  <div class="twit-container">
    <a class="twitter-timeline" href="https://twitter.com/_shoffr" data-widget-id="453080619451301888" height="420">Tweets by @_shoffr</a>
  </div>
</div>

<div id="backtotop">
  <%= link_to image_tag("back_to_top_btn-3.png", :border => "0", :alt => "Back to TOP"), "#" %>
</div>
<div id="footer">
  <div class="copy-div">GullakMaster &copy; 2014</div>
  <ul class="footerlinksmain">
    <li><%= link_to "Terms of Use", "/terms-of-use.html", target: "_blank" %></li>
    <li><%= link_to "Privacy Policy", "/privacy-policy.html", target: "_blank" %></li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var pxShow = 80;//height on which the button will show
        var fadeInTime = 500;//how slow/fast you want the button to show
        var fadeOutTime = 500;//how slow/fast you want the button to hide
        var scrollSpeed = 500;//how slow/fast you want the button to scroll to top. can be a value, 'slow', 'normal' or 'fast'
        jQuery(window).scroll(function(){
            if(jQuery(window).scrollTop() >= pxShow){
                jQuery("#backtotop").fadeIn(fadeInTime);
            }else{
                jQuery("#backtotop").fadeOut(fadeOutTime);
            }
        });
        jQuery('#backtotop a').click(function(){
            jQuery('html, body').animate({scrollTop:0}, scrollSpeed);
            return false;
        });
    });
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

