<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title><%= @article.page_title %></title>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  <meta name="title" content="<%= @article.page_title %>"/>
  <meta name="description" content="<%= @article.blog_excerpt %>"/>
  <meta name="keywords" content="<%= @article.blog_keywords %>"/>

  <!-- Facebook -->
  <meta property="og:title" content="<%= @article.blog_title %>" >
  <meta property="og:site_name" content = "Shoffr" >
  <meta property="og:url" content="http://www.shoffr.com/articles/<%= @article.blog_url.gsub(' ','-') %>">
  <meta property="og:description" content="<%= @article.blog_excerpt %>" >
  <% if @article.attachments.present? %>
  <meta property="og:image" content="<%= @article.attachments.order(:id).last.image %>" >
  <% end %>
  <!-- Twitter-->
  <meta name="twitter:card" content="summary_large_image" >
  <meta name="twitter:site" content="@_shoffr">
  <meta name="twitter:title" content="<%= @article.blog_title %>" >
  <% if @article.attachments.present? %>
  <meta name="twitter:image:src" content="<%= @article.attachments.order(:id).last.image %>" >
  <% end %>
  <meta name="twitter:description" content="<%= @article.blog_excerpt %>" >
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49715139-1', 'shoffr.com');
      ga('send', 'pageview');

  </script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script>
      window.setTimeout(function(){
          $(".twitter-tweet").contents().find(".e-entry-title").css("font-family","tahoma");
          $(".twitter-tweet").contents().find(".tweet").css("font-family","tahoma");
          $(".twitter-tweet").contents().find(".e-entry-title").css("font-size","12px");
          $(".twitter-tweet").contents().find(".tweet").css("font-size","10px");
      }, 1000);
  </script>
</head>
<body>
<div class="blog-main">
  <header class="wrap" id="blogs-masthead">
    <div class="element1">
      <div id="logo"><a title="" href="home.html"><%= image_tag("logo.png", :border=> "0", :alt=>"Drive Footfall to your stores", :title=>"Drive Footfall to your stores") %></a></div>
    </div>
    <div class="clear"></div>
  </header>
  <div class="miniNavContainer">
    <nav class="miniNav">
      <ul>
        <li><a href="/home.html">Home</a></li>
        <li><a href="/articles">All Posts</a></li>
      </ul>
    </nav>
  </div>
  <div id="aCol" class="aColumn">
    <div class="hfeed" id="content">
      <article id="post-154725" class="post-154725 post type-post status-publish hentry category-policy tag-amazon-com-inc tag-antitrust-laws-and-competition-issues tag-e-books-and-readers tag-federal-trade-commission tag-justice-department tag-schneiderman-eric-t">
        <header class="postHeader">
          <div class="postMetaHeader">
            <span class="kicker"><%= @article.blog_category %></span>
            <!-- date published -->
            <time><%= @article.created_at.strftime("%e %b %Y %H:%m:%S%p") %></time>
            <button data-skip-to-para-id="" class="button comments-button  theme-kicker"></button>
          </div>
          <h1 class="entry-title2"><%= @article.blog_title %></h1>
          <address class="byline author vcard">By <a title="" class="url fn" ><%= link_to @article.author, @article.author_linkedin_url %></a> </address>
        <div class="entry-content">
          <div class="w592">
            <% if @article.attachments.present? %>
                <%= image_tag(@article.attachments.order(:id).last.image, :alt=> @article.image_alt_text, :title=> @article.image_alt_text) %>
            <% end %>
            <span class="caption2"><%= @article.image_caption %></span>
          </div>
          <div class="shareboxdiv">
            <ul class="sharelinks">
              <li>
                <a href="mailto:?subject=<%= @article.social_share_caption %>&body=I thought you might find this article interesting.%20http://shoffr.com/xxxx"><i class="email-icon"></i><span class="sharelink-text">e-mail</span></a>
              </li>
              <li>
                <a href="https://twitter.com/share?text=<%= @article.social_share_caption %>%20&url=http://shoffr.com/xxx"><i class="tw-icon"></i><span class="sharelink-text">twitter</span></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/cws/share?url=http://shoffr.com/xxxx"><i class="li-icon"></i><span class="sharelink-text">LinkedIn</span></a>
              </li>
              <li>
                <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://shoffr.com/xxx"><i class="fb-icon"></i><span class="sharelink-text">facebook</span></a>
              </li>

              <li>
                <a href="https://plus.google.com/share?url=http://shoffr.com/xxx" onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="gplus-icon"></i><span class="sharelink-text">google +</span></a>
              </li>
            </ul>
          </div>
          <div class="cont-right">
              <p class="story-body-text"><%= CGI.unescapeHTML(@article.blog_body).html_safe %></p>
          </div>

          <div class="sharebox">
             <ul class="sharenow">
              <li>
                <a href="mailto:?subject=<%= @article.social_share_caption %>&body=I thought you might find this article interesting.%20http://shoffr.com/xxxx"><i class="email-icon"></i><span class="sharelink-text">e-mail</span></a>
              </li>
              <li>
                <a href="https://twitter.com/share?text=<%= @article.social_share_caption %>%20&url=http://shoffr.com/xxx"><i class="tw-icon"></i><span class="sharelink-text">twitter</span></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/cws/share?url=http://shoffr.com/xxxx"><i class="li-icon"></i><span class="sharelink-text">LinkedIn</span></a>
              </li>
              <li>
                <a target="_blank" href="http://www.facebook.com/sharer.php?u=http://shoffr.com/xxx"><i class="fb-icon"></i><span class="sharelink-text">facebook</span></a>
              </li>
              <li>
                <a href="https://plus.google.com/share?url=http://shoffr.com/xxx" onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="gplus-icon"></i><span class="sharelink-text">google +</span></a>
              </li>
             </ul>
          </div>

          <div id="discussion">
    <div class="section-heading"><%= @article_comments.count %>comments</div>
    <div id="update-container">
    <ul class="commentlist">
    <% @article_comments.each do |comment| %>
     <li>
         <div class="comment-wrapper">
           <div class="name1"><%= comment.name %>
             <span class="dte"><%= comment.created_at.strftime("%e %b %Y %H:%m %p") %></span>
             <span class="time"><%=time_ago_in_words(comment.created_at)%> ago</span>
           </div>
           <div class="comment"><%= comment.comment %></div>
         </div>
     </li>
    <% end %>
     <hr />
    </ul>
    </div>
    <div class="leave-comment">
      <div class="section-heading">leave a comment</div>
      <%= form_for [@article, @article_comment], :remote => true, :'data-update-target' => 'update-container', :format => :json, :html=>{:class => "form-horizontal", :id => "comment-form"} do |f| %>
        <fieldset>
          <div class="control-group">
             <label class="control-label">Name</label>
            <div class="controls">
              <%= f.text_field :name, :class => "input-large" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <%= f.text_field :email, :class => "input-large" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Comment</label>
            <div class="controls">
              <%= f.text_area :comment, :rows => 5, :class=>"form-control" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <%= f.submit "Add Comment", :class => "btn btn-custom", :on_click => 'create_comment()' %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>

        </div>
       </header>
      </article>
    </div> <!-- end content -->
  </div>
</div>
<div class="twit-container">

  <!--<blockquote class="twitter-tweet" lang="en"><p>&quot;Silence is the ultimate weapon of power.&quot; -Charles De Gaulle <a href="http://t.co/M5dL0y4T5p">http://t.co/M5dL0y4T5p</a></p>&mdash; 40Billion (@40billion) <a href="https://twitter.com/40billion/statuses/454933499992997888">April 12, 2014</a></blockquote> -->
  <blockquote class="twitter-tweet" lang="en"><p>10 Major Factors Responsible for the Growth of Organised Retailing in India <a href="http://t.co/m3lcEuNyo8">http://t.co/m3lcEuNyo8</a></p>&mdash; Shoffr (@_shoffr) <a href="https://twitter.com/_shoffr/statuses/453413944120446976">April 8, 2014</a></blockquote>
</div>
<div id="backtotop">
  <a href="#">
    <img src="/assets/back_to_top_btn-3.png" border="0" alt="Back to TOP" />
  </a>
</div>
<div id="footer">
  <div class="copy-div">GullakMaster &copy; 2014</div>
  <ul class="footerlinksmain">
    <li><a target="_blank" href="/terms-of-use.html">Terms of Use</a></li>
    <li><a target="_blank" href="/privacy-policy.html">Privacy Policy</a></li>
  </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var pxShow = 80;//height on which the button will show
        var fadeInTime = 500;//how slow/fast you want the button to show
        var fadeOutTime = 500;//how slow/fast you want the button to hide
        var scrollSpeed = 500;//how slow/fast you want the button to scroll to top. can be a value, 'slow', 'normal' or 'fast'
        jQuery(window).scroll(function(){
            if(jQuery(window).scrollTop() >= pxShow){
                jQuery("#backtotop").fadeIn(fadeInTime);
            }else{
                jQuery("#backtotop").fadeOut(fadeOutTime);
            }
        });
        jQuery('#backtotop a').click(function(){
            jQuery('html, body').animate({scrollTop:0}, scrollSpeed);
            return false;
        });
    });
</script>


<script type="text/javascript">
    $("#comment-form").submit(function(e)
    {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
                {
                    url : formURL,
                    type: "POST",
                    data : postData,
                    success:function(data, textStatus, jqXHR)
                    {
                    date = new moment();
                    date = date.format("D MMM YYYY h:mm A");
                    $('.commentlist').append("<li><div class='comment-wrapper'><div class='name1'>"+data['name']+" <span class='dte'>"+date+"</span><span class='time'>just posted</span></div><div class='comment'>"+data['comment']+"</div></div></li>");
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                    },
                    complete:function(){
                        $('#comment-form').each(function(){
                            //this.reset();   //Here form fields will be cleared.
                        });
                    }
                });
        e.preventDefault();	//STOP default action
    });

</script>

</body>
</html>
