<h1>Listing button_clicks</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Button class</th>
    <th>Ad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @button_clicks.each do |button_click| %>
  <tr>
    <td><%= button_click.customer %></td>
    <td><%= button_click.button_class %></td>
    <td><%= button_click.ad_id %></td>
    <td><%= link_to 'Show', button_click %></td>
    <td><%= link_to 'Edit', edit_button_click_path(button_click) %></td>
    <td><%= link_to 'Destroy', button_click, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Button click', new_button_click_path %>
