<div class="row-fluid1">
  <div class="">
  	<%= form_tag(merchant_account_account_brands_path(@account),:method=>:get) do |f|%>
  		<div class="">
				Link Brands to <%= @account.registered_company_name%> Account<br><br>
				<%= text_field_tag "search_name",params[:search_name],:placeholder=>"Search By Brand Name"%>
				<%= submit_tag "Search", :class=>"btn btn-success btn-search"%>
			</div>
				<div class="clearfix"></div>
			<div>
				<div class="span6">
					<table class="table table-striped table-bordered info">
			      <tr>
			        <th>All Brands</th>
			      </tr>
		      
	      		<% if @brands.blank?%>
			      	<td>
			      		Add <%= link_to (params[:search_name]|| "brand"), new_merchant_account_brand_path(@account) %> to GullakMaster Database
			      	</td>
			    	<% else %>
				      <% @brands.each do |brand| %>
					    	<% category = brand.category%>
					      <tr>
					        <td>
					          <%= link_to brand.brand_name %>
					          <% if !brand.category.nil? %>
					          	<%= category.category_name %>
					          <% end %>
					          <% if brand.is_verified == true %>
					    	      <% verification_status = "Verified" %>
					          <% else %>
					      	    <% verification_status = "Not Verified" %> 
					          <% end %>
					          <%= verification_status %>
					        </td>
					      </tr>
					    <% end %>
			    	<% end %>
		    	</table>
				</div>
				<div class="span6">
					<table class="table table-striped table-bordered info">
			      <tr>
			        <th>Selected Brands </th>
			      </tr>
				   	<% @account_brands .each do |brand| %>
					    <% category = brand.category%>
				      <tr>
				        <td>
				          <%= link_to brand.brand_name %>
				          <% if !brand.category.nil? %>
					          <%= category.category_name %>
					        <% end %>
				          <% if brand.is_verified == true %>
				    	      <% verification_status = "Verified" %>
				          <% else %>
				      	    <% verification_status = "Not Verified" %> 
				          <% end %>
				          <%= verification_status %>
				        </td>
				      </tr>
				    <% end %>  
		    	</table>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="span4 offset5">
				<%= button_tag "Cancel",:class=>"btn btn-default btn-lg active"%>
		    <%= submit_tag "Save",:class=>"btn btn-primary"%>
			</div>
		<% end %>
	</div>
  <div class="clearfix"></div>
</div>
