<%= render :partial=>'header' %>
<div class="row-fluid">
  <div class="span12">
  	<div class="box">			
			<div class="box-header">
				<span class="title"><i class="icon-user"></i> Account Brands</span>
			</div>
			<div class="box-content">
				<div class="padded alert">
					You can add brands to your account. If you don't see your desirable brand you can <strong>
					<%= link_to "create new brand", new_merchant_account_brand_path(@current_account) %></strong>
				</div>			
				<%= form_tag(add_brands_merchant_account_account_brands_path(@current_account),:method=>:post,:class=>"form-inline fill-up validatable") do |f|%>
					<div class="padded">
						<div class="control-group">
	            <label class="control-label">Brand Name</label>
	            <div class="controls">
	             <%= select_tag "brand_ids[]",options_from_collection_for_select(@brands,:id,:brand_name),:multiple=>true,:class=>"chzn-select" ,:placeholder=>"Select Brand"%> 
	            </div>
	          </div>
            <button type="submit" class="btn btn-blue">Add Brand</button>
					</div>	
				<% end %>	
				<div id="dataTables">
					<table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
						<thead>
						 <tr>
		            <th><div>Brand</div></th>
		            
		            <th>Manage</th>
		          </tr>
		        </thead>  
		        <tbody>
		        	<% @account_brands.each do |account_brand| %>
	              <tr>
	                <td>
	                	<% if account_brand.brand_id? %>
	                		<%= link_to account_brand.brand.brand_name, merchant_account_account_brand_path(@current_account,account_brand) %>
	                		<span class="badge badge-blue"><%= account_brand.brand.category.present? ? account_brand.brand.category.category_name : "" %></span>
	                	<% end %>
	                </td>
	                <td>
	                	<% if can? :destroy, account_brand %>
		                	<%= link_to 'Delete', merchant_account_account_brand_path(@current_account,@accounts), method: :delete, data: { confirm: 'Are you sure?' } %>
		                <% end %>
	                </td>
	              </tr>
	            <% end %>  
		        </tbody>
				</div>	
			</div>
		</div>
  <div class="clearfix"></div>
</div>