<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <h3>Forgot your password?</h3>
      <div class="border">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,:validate=>true }) do |f| %>
          <%#= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true, :class=>"span9 required" %></div>

          <div><%= f.submit "Send me reset password instructions", :class=>"btn btn-info" %></div>
        <% end %>
        <%= render "merchant/users/shared/links" %>
      </div>
    </div>
  </div>
</div>
