<%= render :partial=>'header' %>
<%= form_tag(merchant_account_brands_path(@account),:method=>:get) do %>
  <%= label_tag :Select_Company%>
  <%= collection_select :account,:id, @accounts,:id,:registered_company_name%>
  <%= button_to "Add Brand",new_merchant_account_brand_path,:class=>"btn btn-primary offset10 span2"%>
  <table class="table table-striped table-bordered info">
    <tr>
      <th>Status</th>
      <th>Verified</th>
      <th>Current Brands</th>
      <th>Outlets</th>
      <th>Daily Cap</th>
      <th></th>
    </tr>

    <% @brands.each do |brand| %>
      <tr>
        <td>
          <% if brand.is_active == true %>
            <%= check_box_tag :is_active, :ssl_enabled, :boolean, :default => 1%>
          <% else %>
            <%= check_box_tag :is_active %>
          <% end %>
        </td>
        <td>
          <% if brand.is_verified == true %>
            <%= check_box_tag :is_verified, :ssl_enabled, :boolean, :default => 1%>
          <% else %>
            <%= check_box_tag :is_verified %>
          <% end %>
        </td>
        <td><% brand_name = @account.brands.pluck(:brand_name) %>
          <% brand_name.each do |brands| %>
          <%= brands %>
          <% end %>
        </td>
        <td></td>
        <td><%= brand.daily_cap %></td>
        <td> <%= link_to 'Destroy', merchant_account_brand_path(@account,brand), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </table>
<% end %>
