<%= render :partial=>'header' %>
<%= form_for([@account,@brand],:url=>merchant_account_brands_path(@account,@brand)) do |f| %>
	
  <div>
		<%= f.text_field :brand_name, :placeholder=>"Brand Name"%>
		<%= f.text_field :brand_alias, :placeholder=>"Brand Alias"%>
		<%= f.text_field :brand_code, :placeholder=>"Short Code"%><br>
		<%= f.collection_select :category_id, @categories,:id,:category_name%>
		<%= f.text_field :website_url,:placeholder=>"Brand Website Url" %><br><br><br>
		<%= f.submit "save",:class=>"btn btn-primary span3"%>
	</div>
<% end %>
	