        <!--<div class="span12">
            <div class="hp-cat-ttl">Select a Category</div>
            <div class="cat-link-div">
              <div class="hp-cat-txt-acc">
                <%= link_to "Accessories", {:controller => 'home', :action => 'outlet_listing', :search => 'Accessories', :view => 'outlet_listing', :location => ''}, :class => 'filldiv' %>
              </div>
            </div>
            <div class="cat-link-div">
              <div class="hp-cat-txt-app">
                <%= link_to "Apparels", {:controller => 'home', :action => 'outlet_listing', :search => 'Apparels', :view => 'outlet_listing', :location => ''}, :class => 'filldiv' %>
              </div>
            </div>
            <div class="cat-link-div">
              <div class="hp-cat-txt-ele">
                <%= link_to "Electronics", {:controller => 'home', :action => 'outlet_listing', :search => 'Electronics', :view => 'outlet_listing', :location => ''}, :class => 'filldiv' %>
              </div>
            </div>
            <div class="cat-link-div">
              <div class="hp-cat-txt-food">
                <%= link_to "Food", {:controller => 'home', :action => 'outlet_listing', :search => 'Food', :view => 'outlet_listing', :location => ''}, :class => 'filldiv' %>
              </div>
            </div>
            <div class="cat-link-div">                
                <div class="hp-cat-txt-mobile">
                    <%= link_to "Mobiles", {:controller => 'home', :action => 'outlet_listing', :search => 'Mobile', :view => 'outlet_listing', :location => ''}, :class => 'filldiv' %>
                </div>
            </div>
            <div class="cat-link-div">
                <div class="hp-cat-txt-shoes">
                    <%= link_to "Shoes", {:controller => 'home', :action => 'outlet_listing', :search => 'Shoes', :view => 'outlet_listing', :location => ''}, :class => 'filldiv' %>
                </div>
            </div>
        </div>-->
