    <% unless ad.expired? %>
    <% if ad.check_day.include?(Date.today.wday) %>
        <% @map_outlets.push(outlet) %>
        <li class="mix bsc span12" data-outlet="<%= outlet.id %>">
    <div class="bdiv2" outlet_id="<%= outlet.id %>" ad_id="<%= ad.id %>"id="<%= outlet.latitude.round(5).to_s+outlet.longitude.round(5).to_s %>">
        <div class="bbox2">
            <% brand = outlet.account_brand.brand %>
            <div class="brandtitle">
                <%= get_brand_title(outlet.account_brand.brand) %>
            </div>

                <% unless ad.blank?%>
                    <div class="rch-btns-div4">
                          <div class="btn190"> <a class="button_view" onclick="$.pnotify({
                        title: '<%= h ad.ad_title unless outlet.ads.empty? %>',
                        text: '<%= h ad.sms_text unless outlet.ads.empty? %>',
                        closer_hover: false,
                        opacity: .9
                        });" class="description button_view">View</a>
                        </div>
                        
                          <div class="btn190"><a class="ad_request button_offer" href="#" onclick="send_ad($.cookie('customer_uuid'), this)">Get Offer</a></div>
                            
                    </div>

                <%end%>

                <% unless ad.is_exclusive.blank? %>
            <div class="eye2"></div>
            <% end %>
                        <div class="distance-div">Dist: <%= (outlet.distance).to_f.round(2) %> km</div>

            <div align="center" class="brandlogo">
                <%= get_brand_image(outlet.account_brand.brand) %>
            </div>
                        <div class="distance-div-below">Ends 13/02</div>

            <div class="lower-box2">
                <a class="share" onclick="show_share(this);" href="#">
                    <div class="refr2"></div>
                </a>
                                         <p>Availed: <%= ad.usage %></p>

            </div>
        </div>
    </div>
    <div class="pin-add-div">
        <div class="pin-div">
            <div class="pin-box"><%= (@pin_id+65).chr %></div>
            <% @pin_id += 1 %>
        </div>
        <div class="add-box">
            <div class="adtitle1">Address</div>
            <div class="adaddress"><%= "#{outlet.shop_no} #{outlet.address}" %></div>
            <div class="adloc"><%= outlet.area.area_name %><br/>
                <%= outlet.area.city.city_name %> <%= outlet.area.pincode %></div>
                <% unless outlet.mobile_number.blank? and outlet.phone_number.blank? %>
                        <% if check_if_verified(cookies[:customer_uuid])==1 %>
                            <a class="call button_call3" href="tel:09223584822">CALL</a>
                        <% else %>
                            <a class="call button_call3" onclick="call_button_verification()">CALL</a>
                        <% end %>
                <% end %>
        </div>
    </div>
    </li>
                <% end %>
                <% end %>
