        <% @map_outlets.push([poster[:latitude],poster[:longitude],poster[:outlet_id]]) %>
        <li class="mix bsc span12" data-outlet="<%= poster[:outlet_id] %>">
        <div class="bdiv2" outlet_id="<%= poster[:outlet_id] %>" ad_id="<%= poster[:ad_id] %>"id="<%= poster[:outlet_id] %>">
        <div class="bbox2">
            <div class="brandtitle">
                <%= get_brand_title(poster[:brand_name]) %>
            </div>
            <% if poster[:ad_id] ==0 %>
            <div class="rch-btns-div3">
                <div class="btn191"><a class="ad_request button_no_offer">No Offer</a></div>
            </div>
            <% else %>
                <div class="rch-btns-div4">
                    <div class="btn190"> <a class="button_view">View</a></div>
                    <div class="btn190">
                        <div class="ad_request button_offer">Get Offer</div>
                    </div>
                </div>
            <% end %>
                <% unless poster[:ad_is_exclusive].blank? %>
            <div class="eye2"></div>
            <% end %>
            <div class="distance-div">Dist: <%= poster[:distance].to_f.round(2) %> km</div>
            <div align="center" class="brandlogo">
                <%= get_brand_image(poster[:brand]) %>
            </div>
            <% if poster[:ad_expiry_date] > Date.today+50.years %>
            <% else %>
            <div class="distance-div-below">Ends: <%= poster[:ad_expiry_date].strftime('%d/%m') %></div>
            <% end %>
            <div class="lower-box2">
            <% if poster[:ad_usage] == -1 %>
                <%= link_to 'Report an Offer', "mailto:merchant@gullakmaster.com?subject=Report an Offer&body=Brand: #{poster[:brand_name]} %0A Offer Details: %0A Expiry Date: %0A Address: #{poster[:address]}", :class => 'report-offer' %>
            <% else %>
                <a class="share" >
                    <div class="refr2"></div>
                </a>
                <p>Availed: <%= poster[:ad_usage] %></p>
            <% end %>
            </div>
        </div>
    </div>
    <div class="pin-add-div">
        <div class="pin-div">
            <%= render :partial => 'call_button', :locals => {:poster => poster}%>
            <div class="pin-box"><%= (@pin_id+65).chr %></div>
            <% @pin_id += 1 %>
        </div>
        <div class="add-box">
            <div class="adtitle1">Address</div>
            <div class="adaddress"><%= "#{poster[:shop_no]} #{poster[:address]}" %></div>
            <div class="adloc"><%= poster[:area_name] %><br/>
                <%= poster[:city_name] %> <%= poster[:pincode] %></div>
            </div>
        </div>
    </li>
