<div class="bdiv" outlet_id="<%= poster[:outlet_id] %>" id="<%= poster[:ad_id] %>" ad_id="<%= poster[:ad_id] %>">
    <div class="bbox">
        <div class="brandtitle">
            <%= get_brand_title(poster[:brand_name]) %>
        </div>
        <div class="rch-btns-div">
            <div class="btn190">
                <a class="address button_map2" onclick="$.pnotify({
                    title: '<%= poster[:brand_name]%> - Address',
                    text: '<%= h "#{poster[:address]}" %>',
                    closer_hover: false,
                    sticker_hover: false,
                    animate_speed: 'fast',
                    icon: false,
                    addclass: 'stack-topleft'
                    });" >ADDRESS</a>
            </div>
            <% unless poster[:mobile_number].blank? and poster[:phone_number].blank? %>
        <% end %>
        <%= render :partial => 'call_button', :locals => {:poster => poster}%>
        </div>
        <% unless poster[:ad_is_exclusive].blank? %>
            <div class="eye2"></div>
    <% end %>
        <div class="distance-div">Dist: <%= poster[:distance].to_f.round(2) %> km</div>

        <div align="center" class="brandlogo">
            <%= get_brand_image(poster[:brand]) %>
        </div>
            <% if poster[:ad_expiry_date] == 0%>
            <% else %>
                <div class="distance-div-below2">Ends: <%= poster[:ad_expiry_date].strftime('%d/%m') %></div>
            <% end %>
            <% if poster[:ad_id] ==0 %>
            <div class="rch-btns-div3">
                <div class="btn190"><a class="ad_request button_offer">No Offer</a></div>
            </div>
            <% else %>
            <div class="rch-btns-div3">
                <div class="btn190"> <a class="button_view">View</a></div>
                <div class="btn190"><a class="ad_request button_offer">Get Offer</a></div>
            </div>
                <% end %>

        <div class="lower-box">
            <a class="share" >
                <div class="refr2"></div>
            </a>
            <% unless poster[:ad_usage] == -1 %>
                <p>Availed: <%= poster[:ad_usage] %></p>
            <% end %>
        </div>
    </div>
</div>
