        <li class="mix bsc span12" data-outlet="<%= poster[:outlet_id] %>">
            <div class="bdiv" outlet_id="<%= poster[:outlet_id] %>" id="<%= poster[:outlet_id] %>" ad_id="<%= poster[:ad_id] %>">
                <div class="bbox">
                    <div class="brandtitle">
                        <%= get_brand_title(poster[:brand_name]) %>
                    </div>
                
                <% unless poster[:ad_is_exclusive].blank? %>
                    <div class="eye2"></div>
                <% end %>
                
                <div align="center" class="brandlogo">
                    <%= get_brand_image(poster[:brand]) %>
                </div>
                <%= render :partial => 'lower_box', :locals => {:poster => poster} %>
                </div>
            </div>
        </div>

        <div class="pin-add-div" outlet_id="<%= poster[:outlet_id] %>" id="<%= poster[:outlet_id] %>" ad_id="<%= poster[:ad_id] %>">

            <div class="rch-btns-div4">
                        <ul>
                        <li>
                        <div class="pin-box">&nbsp;</div>
                        </li>
                        <li><% unless poster[:mobile_number].blank? and poster[:phone_number].blank? %>
                        <% end %>
                        <%= render :partial => 'call_button', :locals => {:poster => poster}%>
                        </li>
                        <% if poster[:ad_id] ==0 %>
                            <li> <div class="button_no_offer">&nbsp;</div> </li>
                        <% else %>
                            <li> <a class="button_view">&nbsp;</a></li>
                        <% end %>
                        </ul>
            </div>


            <div class="distance-div"><%= poster[:distance].to_f.round(2) %> km</div>
                <% if poster[:ad_expiry_date] > Date.today+50.years%>
                    <% else %>
                        <div class="distance-div-below2">Ends: <%= poster[:ad_expiry_date].strftime('%d/%m') %></div>
                    <% end %>
            
            <div class="add-box">
                <div class="adtitle1"><b>Address:</b></div>
                <div class="adaddress">
                    <%= poster[:shop_no] %>
                    <%= poster[:address] %>
                </div>
                <div class="adloc"><%= poster[:area_name] %><br/>
                    <%= poster[:city_name] %> <%= poster[:pincode] %></div>
                </div>
            </div>
        </li>
