<div align="center" class="container-location">
    <div class="row-fluid">
        <div>
            <% if @hot_picks.nil? %>
                No results found
        <% else %>
                <% @outlet_ads.each do |outlet_ad| %>
                <% if outlet.is_active == true %>
                <% outlet.ads.each do |ad| %>
                    <% if ad.check_day.include?(Date.today.wday) %>
                <div class="bdiv" id="<%= outlet_ad[:ad_id] %>">
                <div class="bbox">
                    <% brand = outlet.account_brand.brand %>
                    <div class="brandtitle"><%= brand.brand_name[0..6] %>
                    <% unless brand.brand_name.length < 7 %>
                            ..
                    <% end %>
                    </div>
                    <div class="eye2"><a onclick="track(this); $.pnotify({
                            title: '<%= h ad.ad_title unless outlet.ads.empty? %>',
                            text: '<%= h ad.sms_text unless outlet.ads.empty? %>',
                            opacity: .9
                            });" class="description btn source"></a></div>
                    <div align="center" class="brandlogo">
                        <% if brand.attachments.empty? %>
                            <%= image_tag "categories/#{brand.category.category_name.gsub(" ", "_")}.png", :class => "img-responsive" %>
                    <% else %>
                            <%= image_tag brand.attachments.first.image, :class => "img-responsive" %>
                    <% end %>
                    </div>
                    <div class="rch-btns-div">
                        <div class="btn190"><a class="address button_map2" onclick="track(this)" href="#">ADDRESS</a></div>
                        <% unless outlet.mobile_number.empty? %>
                            <div class="btn190">
                            <a class="call button_call2" onclick="track(this)" href="tel:+91-<%= outlet.mobile_number %>">CALL</a>
                        </div>
                    <% end %>
                    </div>
                    <div class="distance-div">Distance: <%= (outlet.distance * 1.6).to_f.round(2) %> km</div>
                    <div class="lower-box">
                        <a class="share" onclick="track(this)" href="https://www.facebook.com/sharer/sharer.php?u=<%= generate_referer_link outlet, cookies[:customer_uuid] %>" target="_blank">
                            <div class="refr2"></div>
                        </a>
                        <% if outlet.ads.first.is_exclusive %>
                            <div class="star2"></div>
                    <% end %>
                        <div class="right-box">
                            <div class="run2"></div>
                            <div class="runtxt"><%= ad.button_clicks.where(:button_class => "share").count %></div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
            <%#= paginate @final_outlets %>
        <% end %>
        </div>
    </div>
</div>
<%# @brands = @brands.uniq %>

