<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<%= javascript_include_tag "application" %>

<div class="container-location">
    <div class="row-fluid">
        <%= render 'top_location_search_bar' %>
        <div id="map" class="map"></div>


        <div class="out-add-div">
            <ul id="Grid">
                <% if @final_outlets.nil? %>
                    <div class="no-search-results">No results found</div>
            <% else %>
                <% @final_outlets.each_with_index do |outlet, i| %>
                        <% outlet.ads.each do |ad| %>
                    <%= render :partial => 'map_poster', :locals => {:outlet => outlet, :ad => ad, :i => i} %>
            <% end %>
            <% end %>
                <%#= paginate @final_outlets %>
            <% end %>
            </ul>
        </div>
    </div>
</div>

<% unless @map_outlets.blank? %>
        <%= javascript_tag do %>
            locations = <%= @map_outlets.map{|o|[o.latitude, o.longitude, o.id]}.to_json.html_safe %>;
            user_location = <%= [@location[:latitude].to_f, @location[:longitude].to_f]%>
            map_initializer(locations, user_location);
        <% end %>
<% end %>
<script type='text/javascript'>
mobile_number_verification();
bind_tracking();
facebook_share_binding();

</script>
