<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

<div class="container-location">
    <div class="row-fluid">
        <%= render 'top_location_search_bar' %>
        <div id="map" class="map"></div>

        <%= javascript_tag do %>
            locations = <%= @unique_outlets = @final_outlets.map{|o|[o.latitude, o.longitude]}.uniq.to_json.html_safe %>;
        user_location = <%= [@location[:latitude].to_f, @location[:longitude].to_f]%>
    map_initializer(locations, user_location);
    <% end %>

        <div class="out-add-div">
            <ul id="Grid">
                <% if @final_outlets.nil? %>
                    No results found
            <% else %>
                    <% @final_outlets.each_with_index do |outlet, i| %>

                    <% if outlet.is_active == true %>
                    <% outlet.ads.each do |ad| %>
                    <%= render :partial => 'map_poster', :locals => {:outlet => outlet, :ad => ad, :i => i} %>
            <% end %>
            <% end %>
            <% end %>
                <%#= paginate @final_outlets %>
            <% end %>
            </ul>
        </div>
    </div>
</div>

<script type='text/javascript'>
mobile_number_verification();
bind_tracking();

</script>
