<div class="container-location">
    <div class="row-fluid">
        <div class="span12">
            <div class="search-div3">
                <%= form_tag :outlet_listing, :id => 'searchForm' do |f|  %>
                    <fieldset>
                    <div class="input">
                        <%= text_field_tag :location, nil,:id => 's', :value => "Search New Location ...", :onFocus =>"this.value=''" %>
                    </div>
                </fieldset>
        <div class="auto-locate"><%= image_tag "navigation-icon2.png" %></div>
            </div>
        </div>
        <div>
        <% end %>
            <% @brands = Array.new %>
            <% if @final_outlets.nil? %>
                No results found
        <% else %>
                <% @final_outlets.each do |outlet| %>
                <% if outlet.is_active == true %>
                <% outlet.ads.each do |ad| %>
                <div class="bdiv" outlet_id="<%= outlet.id %>" id="<%= ad.id %>">
                <div class="bbox">
                    <% brand = outlet.account_brand.brand %>
                    <div class="brandtitle"><%= brand.brand_name[0..6] %>
                    <% @brands.push brand %>
                        <% unless brand.brand_name.length < 7 %>
                            ..
                    <% end %>
                    </div>
                    <div class="eye2"><a onclick="track(this); $.pnotify({
                            title: '<%= h ad.ad_title unless outlet.ads.empty? %>',
                            text: '<%= h ad.sms_text unless outlet.ads.empty? %>',
                            closer_hover: false,
                            opacity: .9
                            });" class="description btn source"></a></div>
                    <div align="center" class="brandlogo">
                        <% if brand.attachments.empty? %>
                            <%= image_tag "categories/#{brand.category.category_name.gsub(" ", "_")}.png", :class => "img-responsive" %>
                    <% else %>
                            <%= image_tag brand.attachments.first.image, :class => "img-responsive" %>
                    <% end %>
                    </div>
                    <div class="rch-btns-div">
                        <div class="btn190"><a class="address button_map2" onclick="track(this)" href="#">ADDRESS</a></div>
                        <% unless outlet.mobile_number.empty? %>
                            <div class="btn190">
                            <a class="call button_call2" onclick="track(this)" href="tel:+91-09223584822">CALL</a>
                        </div>
                    <% end %>
                    </div>
                    <div class="distance-div">Distance: <%= (outlet.distance * 1.6).to_f.round(2) %> km</div>
                    <div class="lower-box">
                        <a class="share" onclick="track(this)" href="https://www.facebook.com/sharer/sharer.php?u=<%= generate_referer_link outlet, cookies[:customer_uuid], ad %>" target="_blank">
                            <div class="refr2"></div>
                        </a>
                        <% if outlet.ads.first.is_exclusive %>
                            <div class="star2"></div>
                    <% end %>
                        <div class="right-box">
                            <a class="ad_request" href="#" onclick="track(this); send_ad($.cookie('customer_uuid'), this)">
                                <div class="run2"></div>
                                <div class="runtxt"><%= ad.button_clicks.where(:button_class => "share").count %></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <% end %>
        <% end %>
        <% end %>
            <%#= paginate @final_outlets %>
        <% end %>
        </div>
    </div>
</div>
<div id="backtotop">
    <a href="#">
        <% image_tag "back_to_top_btn-3.png", :alt => "Back to TOP" %>
    </a>
</div>
<%# @brands = @brands.uniq %>
<%# @brands.each do |brand| %>
    <%# BrandSession.create(:brand_id => brand.id, :customer_session_id => session[:customer_id]) %>
<%# end %>
<%= render :partial => "new_mobile_number_modal" %>

<script type="text/javascript">
modal_submit();
</script>
