<div class="11 offset1">
	<%= form_for([@account,@account_brand,@outlet], :url=>merchant_account_brand_outlets_path) do |f| %>
		<div class="span3">
			<%= f.collection_select :id, @brands,:id,:brand_name %>
		</div>
		<div class="clearfix"></div>
		<div class="span7">
			<%= f.text_field :outlet_name, :placeholder=>"Outlet Name" %>
			<%= f.text_field :outlet_alias, :placeholder=>"Outlet Alias" %>
		</div>
		<div class="clearfix"></div>
		<div class="span7">
			<%= f.text_field :address, :placeholder=>"Address" %>
		</div>
		<div class="clearfix"></div>
		<div class="span7">
			<%= f.text_field :email_id, :placeholder=>"Email Id" %>
			<%= f.text_field :mobile_number, :placeholder=>"+91-Mobile Number"%>
			<%= f.text_field :phone_number, :placeholder=>"022- Phone Number" %>
		</div>
		<div class="clearfix"></div>
		<div class="span7">
			<%= f.text_field :daily_cap, :placeholder=>"Outlet Daily Budget"%>
		</div>
		<div class="clearfix"></div>
		<div class="span7">
			<%= f.submit "Add Outlet",:class=>"btn btn-primary span3" %>
		</div>
	<% end %>
</div>