  <div class="control-group">
    <label class="control-label">Select City</label>
    <div class="controls">
      <%= select_tag :city_id, options_for_select(@cities),:placeholder=>"Select City" %>
    </div>
  </div>

<div class="control-group">
  <label class="control-label">Area</label>
  <div class="controls">
    <%= select_tag :area_name, options_for_select(@areas),:placeholder=>"Select Area" %>              
  </div>
</div>

<div class="control-group">
  <label class="control-label">Address</label>
  <div class="controls">
    <%= f.text_field :address, :placeholder=>"Address", :class=>"validate[required,maxSize[200]]", "data-prompt-position"=>"topLeft"%>               
  </div>
</div>

<div class="control-group">
  <label class="control-label">Email Id</label>
  <div class="controls">
    <%= f.text_field :email_id, :placeholder=>"Email Id", :class=>"validate[required]", "data-prompt-position"=>"topLeft"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Mobile Number</label>
  <div class="controls">
    <%= f.text_field :mobile_number, :placeholder=>"+91-Mobile Number", :class=>"validate[minSize[10],maxSize[15]]", "data-prompt-position"=>"topLeft"%>
  </div>
</div>  

<div class="control-group">
  <label class="control-label">Phone Number</label>
  <div class="controls">
    <%= f.text_field :phone_number, :placeholder=>"022- Phone Number", :class=>"validate[]", "data-prompt-position"=>"topLeft"%>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('select#city_id').change(function() {
      var city = 'city_id=' + $('select#city_id :selected').val();
      jQuery.ajax({
        url: '/merchant/accounts/<%= params[:account_id] %>+/account_brands/<%= params[:account_brand_id] %>/outlets/populate_areas',
        type : "Post",
        data: city,
        dataType: 'json',
        success: function(data){
          alert("fine")
          jQuery("#area_name").html(data);
        },
        error: function(response){
          alert("error");
        }
      });
    });
  });
</script>
  