<%= render :partial=>'header' %>

<div class="row-fluid">
  <div class="span12">
    <div class="box">

      <div class="box-header">
        <span class="title">Outlets</span>
      </div>
      <%= form_tag import_record_merchant_account_account_brand_outlets_path(@current_account,@account_brand), multipart: true do %>
        <div class="box-content">
          <div id="dataTables">
            <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
            
              <thead>
                <tr>
                  <th>Address</th>
                  <th>Phone number</th>
                  <th>Mobile number</th>
                  <th>Email</th>
                  <th>Verify Records</th>
                </tr>
              </thead>

              <tbody>
                <% @valid_records.each_with_index do |outlet,index| %>
                  <tr>
                    <%= hidden_field_tag "outlets[#{index}][address]" ,outlet.address%>
                    <%= hidden_field_tag "outlets[#{index}][phone_number]",outlet.phone_number %>
                    <%= hidden_field_tag "outlets[#{index}][mobile_number]",outlet.mobile_number %>
                    <%= hidden_field_tag "outlets[#{index}][mobile_country_id]",outlet.mobile_country_id %>
                    <%= hidden_field_tag "outlets[#{index}][area_id]",outlet.area_id %>
                    <%= hidden_field_tag "outlets[#{index}][account_brand_id]",outlet.account_brand_id %>
                    <%= hidden_field_tag "outlets[#{index}][email_id]",outlet.email_id %>
                    
                    <td><%= outlet.address %></td>
                    <td><%= outlet.phone_number %></td>
                    <td><%= outlet.mobile_number %></td>
                    <td><%=outlet.email_id %></td>
                    <td><span class="label label-success">Valid</span>
                      <%= check_box_tag "outlets[#{index}][verified]" %>  Verify Record 
                     
                  </tr> 

                <% end %>
                <% @invalid_records.each do |outlet| %>
                  <tr>
                    <td><%= outlet.address %></td>
                    <td><%= outlet.phone_number %></td>
                    <td><%= outlet.mobile_number %></td>
                    <td><%=outlet.email_id %></td>
                    <td><span class="label label-warning">In Valid</span> </td>
                  </tr> 

                <% end %>
              </tbody>  

            </table>
          </div>
        </div>
        <div class="form-actions" style="margin-top: 0px;"> 
          <div class="pull-right" style="padding-right: 35px;">
            <button type="submit" class="btn btn-blue">Save</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
</div>