<%= form_tag(new_merchant_account_brand_outlet_path(@account_brand),:method=>:get) do %>
  <div class="span10">
    <%= collection_select :brand,:id, @brands,:id,:brand_name,:prompt=>"Select Brand"%>
    <%= collection_select :city,:id, @cities,:id,:city_name,:prompt=>"Select City"%>
    <%= button_tag "Create Outlet",:class=>"btn btn-primary"%>
  </div>
  <div class="clearfix"></div>
  <br><br><br>
  <div class="span10">
    <table class="table table-striped table-bordered info">
      <tr>
        <th>Status</th>
        <th>Verified</th>
        <th>Outlet Key</th>
        <th>Name</th>
        <th>Address</th>
        <th>Daily</th>
        <th>Lifetime Budget</th>
        <th></th>
      </tr>

      <% @outlets.each do |outlet| %>
        <tr>
          <td>
          <% if outlet.is_active == true %>
              <%= check_box_tag :is_active, :ssl_enabled, :boolean, :default => 1%>
            <% else %>
              <%= check_box_tag :is_active %>
            <% end %>
          </td>
          <td>
            <% if outlet.is_verified == true %>
              <%= check_box_tag :is_verified, :ssl_enabled, :boolean, :default => 1%>
            <% else %>
              <%= check_box_tag :is_verified %>
            <% end %>
          </td>
          <td><%= outlet.outlet_key %></td>
          <td><% outlet_name = @account_brand.outlets.pluck(:outlet_name) %>
            <% outlet_name.each do |outlets| %>
            <%= outlets %>
            <% end %>
          </td>
          <td><%= outlet.address %></td>
          <td><%= outlet.daily_cap %></td>
          <td></td>
          <td><%= link_to 'Destroy', merchant_account_brand_outlet_path(@account_brand,outlet), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr> 
      <% end %>
    </table>
  </div>
<% end %>
  