<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
        <title>&lt;Brandname&gt; - &lt;Areaname&gt;</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="true" />
          <style type="text/css">
          body {margin:0; padding:0;}
          </style>
        <!-- Include this file if you are using Pines Icons. -->
        <!-- Preloader -->
          <script type="text/javascript">
          // <![CDATA[
          $(window).load(function() { $("#spinner").fadeOut("slow"); })
          // ]]>
          </script>
          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <![endif]-->
        <!-- jQuery Plugin -->

      <style type="text/css">
          html { height: 200px }
          body { height: 200px; margin: 0; padding: 0 }
          #map-canvas { height: 200px }
      </style>

      <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

      <script type="text/javascript">
          function initialize() {
              var lat = document.getElementById('latbox').value;
              var lng = document.getElementById('lngbox').value;
              var mapOptions = {
                  center: new google.maps.LatLng(lat, lng),
                  zoom: 8
              };
              var map = new google.maps.Map(document.getElementById("map-canvas"),
                      mapOptions);

              var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(lat, lng),
                  map: map,
		  draggable: true,
                  title: 'Drag Me'
              });
	      
	        google.maps.event.addListener(marker, 'dragend', function(event){
      			document.getElementById("latbox").value = this.getPosition().lat();
    			document.getElementById("lngbox").value = this.getPosition().lng();
		 });
          }
          google.maps.event.addDomListener(window, 'load', initialize);

      </script>

    </head>
    <body>
      <!-- Preloader -->
      <div id="spinner"></div>
      <%= image_tag("ajax-loader.gif", :id => "loading-indicator", :class => "dn") %>
      <div id="header">
        <ul class="left-icons">
          <li><a class="phn">&nbsp;</a></li>
        </ul>
        <div class="head-brand">&lt;Brand&gt;</div>
        <ul class="right-icons">
          <li><a href="#" class="deal">&nbsp;</a></li>
        </ul>
      </div>
        <div class="container-location">
            <div class="row-fluid">

                <div class="span12">
                  <!--Map comes here-->
                  <div id="map-canvas"></div>
                </div>
            </div>

               </div>
            <%= form_for(@outlet, :url=>merchant_path(@outlet), :html=>{:class=>"form-horizontal fill-up validatable",:multipart => true}) do |f| %>
            <%= f.hidden_field :id, :value => @outlet.id %>
              <div class="row-fluid">
                <div class="span12">
                  <div class="span6">
                    <div class="lat-dist">Latitude: <%= f.text_field :latitude, :id => "latbox" %></div>
                    <div class="fill-up">
                      <ul class="padded separate-sections">
		              <li class="input">
                        <label class="label-style" for="textinput">Shop #:</label>
                        <div class="fill">
                          <%= f.text_field :shop_no  %>
                        </div>
                      </li>
                      <li class="input">
                        <label class="label-style" for="textinput">Address</label>
                        <div class="fill">
                            <%= f.text_field :address %>
                        </div>
                      </li>
                      <li class="input">
                        <label class="label-style" for="textinput">Area</label>
                        <div class="fill">
                          <%= text_field_tag :area_name,@outlet.area.try(:area_name), :value => @outlet.area.area_name   %>
                        </div>
                      </li>
                      <li class="input">
                        <label class="label-style" for="textinput">City</label>
                        <div class="fill">
                          <%= select_tag :city_id, options_from_collection_for_select(@cities,:id,:city_name,@outlet.area.try(:city_id)), :value => @outlet.area.city.city_name  %>
                        </div>
                      </li>
                        <li class="input">
                          <label class="label-style" for="textinput">Pin</label>
                          <div class="fill">
                            <%= text_field_tag "pincode",@outlet.area.try(:pincode), :value => @outlet.area.pincode  %>
                          </div>
                        </li>
                    </ul>
                  </div>
                  </div>

                  <div class="span6">
                    <div class="lat-dist">Longitude: <%= f.text_field :longitude, :id => "lngbox" %></div>
                    <div class="fill-up">
                    <ul class="padded separate-sections">
                      <li class="input">
                        <label class="label-style" for="textinput">Mobile Number</label>
                        <div class="fill">
                          <%= f.text_field :mobile_number %>
                        </div>
                      </li>
                      <li class="input">
                        <label class="label-style" for="textinput">Landline Number</label>
                        <div class="fill">
                          <%= f.text_field :phone_number %>
                        </div>
                      </li>
                      <li class="input">
                        <label class="label-style" for="textinput">Email</label>
                        <div class="fill">
                          <%= f.text_field :email_id %>
                        </div>
                      </li>
                      <li class="input">
                        <div class="btn-group">
                          <button class="btn btn-blue1" type="submit">ReMap</button>
                        </div>
                      </li>
                      <li class="input">
                        <div class="btn-group">
                          <button class="btn btn-blue1" type="submit">Save</button>
                        </div>
                      </li>
                    </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        <div id="backtotop">
           <a href="#">
              <%= image_tag("back_to_top_btn-3.png", :border => "0", :alt => "Back to TOP") %>
           </a>
        </div>
    </body>
</html>
