
<ul class="nav nav-pills nav-stacked merchant-subnav">
  <li>
    <%= link_to ' Home'.html_safe,merchant_merchants_path,:class=>"btn btn-large btn-warning" %>
  </li>
  <li>&nbsp;</li>
  <li>  
    <%= link_to 'Brands'.html_safe,merchant_account_account_brands_path(@account),:class=>"btn btn-large btn-warning" %>
  </li>
  <li>&nbsp;</li>
  <li>  
    <%= link_to 'Outlets'.html_safe,root_url,:class=>"btn btn-large btn-warning" %>
  </li>
  <li>&nbsp;</li>
  <li>  
    <%= link_to 'Outlets'.html_safe,root_url,:class=>"btn btn-large btn-warning" %>
  </li>
   <li>&nbsp;</li>
  <li>  
    <%= link_to 'Campaigns'.html_safe,root_url,:class=>"btn btn-large btn-warning" %>
  </li>
</ul>
