<%= form_for(@call_forwarding) do |f| %>
  <% if @call_forwarding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call_forwarding.errors.count, "error") %> prohibited this call_forwarding from being saved:</h2>

      <ul>
      <% @call_forwarding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :outlet %><br />
    <%= f.text_field :outlet %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
