<h1>Listing call_forwardings</h1>

<table>
  <tr>
    <th>Outlet</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @call_forwardings.each do |call_forwarding| %>
  <tr>
    <td><%= call_forwarding.outlet %></td>
    <td><%= call_forwarding.customer %></td>
    <td><%= link_to 'Show', call_forwarding %></td>
    <td><%= link_to 'Edit', edit_call_forwarding_path(call_forwarding) %></td>
    <td><%= link_to 'Destroy', call_forwarding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call forwarding', new_call_forwarding_path %>
