<%= render :partial=>'header' %> 
<div class="row-fluid">
	<div class="span12">

		<div class="box">
			<div class="box-header">
				<span class="title"><i class="icon-user"></i> Edit User</span>
			</div>

			<div class="box-content">
				<%= form_for([@account,@user], :url=>merchant_account_user_path(@current_account,@user),:html=>{:class=>"form-horizontal fill-up validatable",:multipart => true}) do |f| %>

				<div class="padded">

					<div class="control-group">
						<label class="control-label">First Name</label>
						<div class="controls">
							<%= f.text_field :first_name, :placeholder=>"First Name", :class=>"validate[required]", "data-prompt-position"=>"topLeft"%>

						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							<%= f.text_field :last_name, :placeholder=>"Last Name", :class=>"validate[required]", "data-prompt-position"=>"topLeft"%>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Email</label>
						<div class="controls">
							<%= f.text_field :email, :placeholder=>"Email", :class=>"validate[required]", "data-prompt-position"=>"topLeft"%>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Mobile Number</label>
						<div class="controls">
							<%= f.text_field :mobile_number, :placeholder=>"Mobile Number", :class=>"validate[required]", "data-prompt-position"=>"topLeft"%>
						</div>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-blue">Save</button>
					<%= f.button "Reset Password", :class=>"btn btn-default btn-lg active"%>
					<%= f.button "Link Bands for User", :class=>"btn btn-default btn-lg active"%>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
