<%= form_for(@customer_session) do |f| %>
  <% if @customer_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_session.errors.count, "error") %> prohibited this customer_session from being saved:</h2>

      <ul>
      <% @customer_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :browser %><br />
    <%= f.text_field :browser %>
  </div>
  <div class="field">
    <%= f.label :platform %><br />
    <%= f.text_field :platform %>
  </div>
  <div class="field">
    <%= f.label :browser_version %><br />
    <%= f.text_field :browser_version %>
  </div>
  <div class="field">
    <%= f.label :referer_link %><br />
    <%= f.text_field :referer_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
