<%= content_for :content_header do %>
  <div class="container-fluid">
    <div class="row-fluid">
     <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-account"></i>
         <%= defined?(name) ? name : "Accounts" %>
        </h3>
       
        </h5>
      </div>
    </div>
  </div>
<% end %>
<%= content_for :breadcrumbs do %>
  <div class="container-fluid padded">
    <div class="row-fluid">
      <!-- Breadcrumb line -->
      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <a href="<%= merchant_merchants_path%>">
            <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
            <span class="breadcrumb-arrow"><span></span></span>
          </a>  
        </div>
        <div class="breadcrumb-button">
          <a href="<%= merchant_accounts_path%>">
            <span class="breadcrumb-label">
              <i class="icon-account"></i>
              <% if params[:action] == "show" %> 
                <%=  @current_account.registered_company_name? && !@current_account.registered_company_name.nil? ? @current_account.registered_company_name: "" %>
              <% else %>
                Accounts
              <%end%>
            </span>
            <span class="breadcrumb-arrow"><span></span></span>
          </a>  
        </div>
      </div>
    </div>
  </div>
<% end %> 