<div class="container">
  <div class="row">
    <div class="span12 offset2">
      <%= form_for(@account,:url=>merchant_account_path) do |f| %>
        <%= f.collection_select :id, @accounts,:id,:registered_company_name%>
        <h4>Edit Account Details</h4>
        <%= f.label :Company_Name %>    
        <%= f.text_field :registered_company_name %>
        <%= f.label :Account_Currency %>
        <%= f.collection_select :id, @countries,:id,:currency_name%>
        <br>
        <%= f.check_box :is_active %> Active
        <%= f.check_box :is_verified %> Account Verified<br><br>
        <%= f.label :Address %>
        <%= f.text_field :address,:placeholder=>"Address"%>
        <%= f.label :Pincode %>
        <%= f.text_field :pincode,:placeholder=>"Pincode"%>
        <%= f.label :Area %>
        <%= f.collection_select :area_id, @areas,:id,:area_name%>
        <%= f.label :City %>
        <%= f.collection_select :id, @cities,:id,:city_name%><br>
        <%= link_to "Delete Account",merchant_account_path, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-default btn-lg active"%>
        <%= f.button "Link Brands to this Account",:class=>"btn btn-default btn-lg active"%>
        <%= f.submit "Save",:class=>"btn btn-primary"%>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
