<%= render :partial=>'header',:locals=>{:name=>"New Account"} %>
<div class="row-fluid">
  <div class="span12">
    <div class="box">

      <div class="box-header">
        <span class="title"><i class="icon-account"></i> New Account</span>
      </div>
      <div class="box-content">
        <%= form_for(@account,:url=>merchant_accounts_path,:html=>{:class=>"form-horizontal fill-up validatable"}) do |f| %>
          <div class="padded">
            
            <div class="control-group">
              <label class="control-label">Company Name</label>
              <div class="controls">
                <%= f.text_field :registered_company_name, :placeholder=>"Company Name", :class=>"validate[required],maxSize[70]", "data-prompt-position"=>"topLeft"%>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Address</label>
              <div class="controls">
                <%= f.text_field :address, :placeholder=>"Address", :class=>"validate[required],maxSize[200]", "data-prompt-position"=>"topLeft"%>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Select City</label>
              <div class="controls">
                <%= select_tag :city_id, options_from_collection_for_select(@cities,:id,:city_name,@account.area.try(:city_id)),:prompt=>"Select City",:placeholder=>"Select City" ,:class=>"validate[required]"%>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Area</label>
              <div class="controls" id="area_div">
                <%#= select_tag "account[area_id]", options_from_collection_for_select(@areas,:id,:area_name),:placeholder=>"Select Area",:id=>"select_area" %>  
                <!-- <a href="javascript:void(0)" id="new_area_link">Don't find your area? Create your area</a> -->
                <div id="new_area_textbox" style="display:none1"> 
                  <%= text_field_tag :area_name,@account.area.try(:area_name) %>
                  <!-- <a href="javascript:void(0)" id="select_area_link">Select Area from existing</a> -->
                </div>           
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Pincode</label>
              <div class="controls">
                <%= text_field_tag "pincode[pincode]",'', :placeholder=>"Pincode", :class=>"validate[required,minSize[6],maxSize[6]", "data-prompt-position"=>"topLeft"%>               
              </div>
            </div>

            <%= f.fields_for :users do |builder| %>
              <%= render "user_fields", :f => builder %>
            <% end %>

          </div>  
          <div class="form-actions">
            <button type="submit" class="btn btn-blue">Save changes</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
</div>      


<script type="text/javascript">
$(document).ready(function(){
    $('select#city_id').change(function() {
      $("#new_area_link").show()
      var city = $('select#city_id').val();
      jQuery.ajax({
        url: '/merchant/accounts/populate_areas',
        type : "GET",
        data: {city_id:city},
        dataType : 'html',
        success: function(data){
          $("#select_area").html(data);
        },
        error: function(jqXHR,textStatus,errorThrow){
          
        }
      });
    });
    $("#new_area_link").click(function(e){
      $("#new_area_textbox").show();
      $("#select_area").hide();
      $("#new_area_link").hide()
    })
    $("#select_area_link").click(function(e){
       $("#new_area_textbox").hide();
      $("#select_area").show();
      $("#new_area_link").show()
    })
  });
</script>
