<h1>Listing nested_comments</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nested_comments.each do |nested_comment| %>
  <tr>
    <td><%= nested_comment.parent_id %></td>
    <td><%= nested_comment.comment_id %></td>
    <td><%= link_to 'Show', nested_comment %></td>
    <td><%= link_to 'Edit', edit_nested_comment_path(nested_comment) %></td>
    <td><%= link_to 'Destroy', nested_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nested comment', new_nested_comment_path %>
