<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="http://www.gullakmaster.com/">
  <title>Gullak Master - <%= generate_title %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

    <script type="text/javascript">
        (function() {
      if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        msViewportStyle.appendChild(
          document.createTextNode("@-ms-viewport{width:auto!important}")
        );
        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }
    })();
    </script>

    <script type="text/javascript">
      (function(){
          var field = document.getElementById('s');
          var placeholdertext = "Search box"; // << change this to whatever you want the placeholder text to be

          field.setAttribute("onblur", "if(value=='') { value = '" + placeholdertext + "'")
          field.setAttribute("onfocus", "if(value=='" + placeholdertext + "') { value = '' }")
      })(); 
    </script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!-- jQuery Plugin -->
<%#= javascript_include_tag :defaults %>


</head>
<body>
<!-- Preloader -->
<%= bootstrap_flash %>
<%= yield %>
<script type="text/javascript">
    $(function() {
        $('nav#menu').mmenu();
    });
</script>

</body>
</html>
