<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
<title>Shoffr: Shop with an offer</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<meta name="title" content="Shoffr: Shop with an offer"/>
<meta name="description" content="Shoffr’s mobile app alerts you about free deals and offers at nearby and relevant stores. You can unlock an offer, walk into the sotre and redeem the offer instantly."/>
<meta name="keywords" content="free deals, free offers, free coupons, free discounts, deals, offers, cuopons, discounts, nearby stores" />
<!-- Facebook -->
<%# get_og_tags %>
<meta property="og:title" content="Shoffr: Shop with an offer" >
<meta property="og:site_name" content = "Shoffr" >
<meta property="og:url" content="http://m.shoffr.com/#/deals/outlets?location=bandra&search=all&latitude=undefined&longitude=undefined&view=outlet_view">
<meta property="og:image" content="http://shoffr.com/assets/social-media/shoffr_social_media_logo.png" >
<meta property="og:image:type" content="image/png" />
<meta property="og:description" content="Shoffr’s mobile app alerts you about free deals and offers at nearby and relevant stores. You can unlock an offer, walk into the sotre and redeem the offer instantly." >


<!-- Twitter-->
<meta name="twitter:card" content="summary" >
<meta name="twitter:site" content="@_shoffr">
<meta name="twitter:title" content="Shoffr: Shop with an offer" >
<meta name="twitter:url" content="http://m.shoffr.com/#/deals/outlets?location=bandra&search=all&latitude=undefined&longitude=undefined&view=outlet_view">
<meta name="twitter:image:src" content="http://shoffr.com/assets/social-media/shoffr_social_media_logo.png" >
<meta name="twitter:description" content="Shoffr’s mobile app alerts you about free deals and offers at nearby and relevant stores. You can unlock an offer, walk into the sotre and redeem the offer instantly." >

<link rel="canonical" href="http://m.shoffr.com/#/deals/outlets?location=bandra&search=all&latitude=undefined&longitude=undefined&view=outlet_view" />
<%= csrf_meta_tags %>

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->

<%= stylesheet_link_tag "application", :media => "all" %>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<%= javascript_include_tag "application" %>
<%= favicon_link_tag "favicon.ico" %>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<!-- jQuery Plugin -->
<%#= javascript_include_tag :defaults %>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49715139-2', 'shoffr.com');
      ga('send', 'pageview');
  </script>

</head>
<body>
<%#= render :partial => 'shared/facebook_share' %>

<div ng-controller="HomeController">
<snap-drawer>
    <nav class="mm-list">
        <ul>
            <li class="subcat">Change Location:</li>
            <li>
                <form ng-submit='listing_form()' method='get' id='searchForm'>
                    <fieldset>
                        <div class="input2">
                            <input type='text' name='location' id='s' placeholder ='Enter Location' ng-model='topsearch'>
                        </div>
                    </fieldset>
                </form>
            </li>
            <li>&nbsp;</li>
            <li class="subcat"><a class="no-left-pad" href="/#/profile" snap-close>My Profile</a></li>
            <li class="subcat">Sort by:</li>
            <li><a href="" class='left-menu-buttons' ng-click="predicate = 'distance'; reverse=false" snap-close>Distance</a></li>
            <li><a href="" class='left-menu-buttons' ng-click="predicate = 'ad_expiry_date'; reverse=false" snap-close>Expiry Date</a></li>
            <li><a href="" class='left-menu-buttons' ng-click="predicate = 'ad_usage'; reverse=true" snap-close>Hotpicks</a></li>
            <li>&nbsp;</li>

            <li class="subcat"><a href="mailto:kaustubh@shoffr.com?subject=Report an Offer&body=Brand: %0A Offer Details: %0A Expiry Date: %0A Address:" snap-close>Report An Offer</a></li>
            <li class="subcat">
                <a href="mailto:hello@shoffr.com?subject=Feedback" snap-close>Provide Feedback</a>
            </li>
            
        </ul>
    </nav>
</snap-drawer>

<snap-content>

<div id="header" ng-class='top_menu_class()'>
    <ul class='left-icons'>
        <li><a href='' class="srchlink3" snap-toggle="left"></a></li>
        <!--<li><a href="#" class="notification"></a></li>-->
    </ul>
    <div class="head-brand"><top-header></top-header></div>
    <ul ng-class='right_buttons_class()'>
        <li><a href='' class="new_top_share shr" ng-click="top_share()" ng-controller='ShareController' ngg="update_top_share_url($(this))"></a></li>
        <!--<li><a href='' ng-class='view_button()' ng-click='map_view_link()'></a></li>-->
    </ul>

</div>
  
<div class="container-location" >
    <div class="row-fluid">
        <div ng-class='top_search_class()'>
            <div class="search-div3">
                <form ng-submit='category_form()' method='get'>
                    <fieldset>
                        <div class="input">
                            <input type='text' name='search' id='s3' placeholder ='I am looking for...' ng-model='category'>
                        </div>
                    </fieldset>
                    <!--<div class="non_grey_filter">&nbsp;</div>-->
                    <input type='submit' value=''   name=''   ng-class= "set_class()" ng-click='set_attribute("filter")'>
                    <input type='submit' value='Go' name='Go' class= "btn btn-submit2" ng-click='set_attribute("search")'>
                </form>
            </div>
        </div>
        #<div id='view' ng-view class='view'>
        </div>
    </div>
</div>
</snap-content>
</div>
<footer>GullakMaster &copy; 2014</footer>
<%= render :partial => "back_to_top" %>
<%= render :partial => "new_mobile_number_modal" %>
<%= render :partial => "verify_mobile_number" %>
<%= render :partial => "share_partial" %>
<script type="text/javascript">
$(document).ready(function(){
        FastClick.attach(document.body);
        get_backtotop_button();
        })
</script>

<script type="text/javascript">
(function() {
 if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
 var msViewportStyle = document.createElement("style");
 msViewportStyle.appendChild(
     document.createTextNode("@-ms-viewport{width:auto!important}")
     );
 document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
 }
 })();
</script>
</body>
</html>

